@model PortfolioCore.Entities.Experience
@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Deneyim Güncelleme Sayfası</h3>
<br />
<form method="post">

    <input type="hidden" asp-for="ExperienceId" />

    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" style="border:1px solid grey;" />
    <br />

    <label>Alt Başlık</label>
    <input type="text" asp-for="SubTitle" class="form-control" style="border:1px solid grey;" />
    <br />

    <label>Tarih</label>
    <input type="text" asp-for="ExperienceDate" class="form-control" style="border:1px solid grey" />
    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" style="border:1px solid grey" />
    <br />
    <button class="btn btn-outline-primary col-md-12">Kaydet</button>
</form>