
<div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-emoji-smile"></i>
            <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="@ViewBag.v1" data-purecounter-duration="1" class="purecounter"></span>
                <p>Mutlu Müşterilerim</p>
            </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-journal-richtext"></i>
            <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="@ViewBag.v2" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projelerim</p>
            </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-headset"></i>
            <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="@ViewBag.v3" data-purecounter-duration="1" class="purecounter"></span>
                <p>Yeteneklerim </p>
            </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-people"></i>
            <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="@ViewBag.v4" data-purecounter-duration="1" class="purecounter"></span>
                <p>Ödüllerim</p>
            </div>
        </div><!-- End Stats Item -->

    </div>

</div>