@model Portfolio
@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Proje Güncelleme Sayfası</h3>
<br />
<form method="post">

    <input type="hidden" asp-for="PortfolioId" />

    <label>Proje Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" style="border:1px solid grey;" />
    <br />

    <label>Proje Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" style="border:1px solid grey;" />
    <br />

    <label>Görsel Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" style="border:1px solid grey" />
    <br />
    <label>Github Url</label>
    <input type="text" asp-for="ProjectUrl" class="form-control" style="border:1px solid grey" />
    <br />

    <label>Proje Kategorisi</label>
    <select asp-for="CategoryId" asp-items="ViewBag.v" class="form-control" style="border:1px solid grey">
        <option value="">Seçiniz</option>
    </select>
    <br />
    <button class="btn btn-outline-primary col-md-12">Kaydet</button>
</form>