@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />
    <label>Adınız Soyadınız</label>
    <input type="text" class="form-control" />
    <br />
    <label>Email Adresiniz</label>
    <input type="email" class="form-control" />
    <br />
    <label>Telefon Numaranız</label>
    <input type="tel" class="form-control" />
    <br />
    <label>Konu</label>
    <input type="text" class="form-control" />
    <br />
    <label>Mesajınızı Yazınız</label>
    <textarea rows="5" class="form-control"></textarea>
    <br />
    <button class="btn btn-info">Mesajı Gönder</button>
</div>
