<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Projelerim</h2>
        <p>Aşağıda yer alan görseller daha önce yapmış olduğum çeşitli projelere ait bazı ekran alıntılarıdır. Görsellerin üzerine tıklayarak detaylı bir şekilde görebilirsiniz.</p>
    </div>
    <!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            @await Component.InvokeAsync("_DefaultCategoryComponentPartial")

            @await Component.InvokeAsync("_DefaultProjectComponentPartial")


        </div>

    </div>

</section>