@model List<Skill>

@{
    ViewData["Title"] = "SkillList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yetenek Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Yetenek Başlığı</th>
        <th>Yetenek Değeri</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillId</td>
            <td>@item.SkillName</td>
            <td>@item.SkillValue</td>
            <td><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/Skill/CreateSkill/" class="btn btn-outline-primary col-md-12">Yeni Yetenek Girişi</a>