@model About
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Hakkımda Güncelleme Sayfası</h3>
<br />


<div class="card">
    <div class="card-body">

        <form method="post" asp-action="UpdateAbout" asp-controller="About" enctype="multipart/form-data">

            <input type="hidden" asp-for="AboutId" />

            <label>Açıklama</label>
            <input type="text" class="form-control" asp-for="Description" style="border:1px solid grey" ; />
            <br />
            <label>Alan</label>
            <input type="text" class="form-control" asp-for="JobTitle" style="border:1px solid grey;" />
            <br />
            <label>Görsel Seç</label>
            <br />
            <img src="~/images/@Model.ImageURL" alt="Görsel" width="100" height="100" />

            <input type="file" class="form-control" name="file" style="border:1px solid grey" ; />
            <br />
            <label>Mail Adresi</label>
            <input type="text" class="form-control" asp-for="Email" style="border:1px solid grey;" />
            <br />
            <label>Telefon Numarası</label>
            <input type="text" class="form-control" asp-for="Phone" style="border:1px solid grey" ; />
            <br />
            <label>Şehir</label>
            <input type="text" class="form-control" asp-for="City" style="border:1px solid grey;" />
            <br />
            <label>Alt Açıklama</label>
            <input type="text" class="form-control" asp-for="SubDescription" style="border:1px solid grey; " />
            <br />


            <button class="btn btn-outline-primary col-md-12" type="submit">Kaydet</button>
        </form>
    </div>
</div>